.home
  &-cover
    align-items center
    background-image url("../img/backgrounds/home-cover.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    display flex
    flex-direction column
    justify-content flex-end
    height 645px
    padding-bottom 57px

    & .whiteSubtitle
      margin 16px 0 40px 0

    &-scroll
      height 30px
      margin-top 110px
      width 12px

  &-practice
    align-items center
    display flex
    flex-direction column
    margin 80px 0

    &-title
      color $c-strongBlue
      font-family 'PlayfairDisplayRegular'
      font-size 33px
      font-weight normal
      padding-bottom 12px
      position relative
      text-align center
      width 100%

      &:before
        background-color #d3d3d3
        bottom 0
        content ""
        height 1px
        left 0
        margin 0 auto
        position absolute
        right 0
        width 385px

      &:after
        background-color $c-strongBlue
        bottom 0
        content ""
        height 1px
        left 0
        margin 0 auto
        position absolute
        right 0
        width 146px

    &-carousel
      margin 69px 0
      position relative
      width 1219px

      & .owl-dots
        bottom -102px
        left 0
        position absolute

      & .owl-dot
        background-color #d8d8d8 !important
        border-radius 100px
        height 11px
        margin-right 18px
        width 11px

        &.active
          background-color $c-strongBlue !important

      & .owl-nav
        bottom -120px
        position absolute
        right 0

      & .owl-next,
      & .owl-prev
        background-color: $c-strongBlue !important
        height 52px
        width 52px

        & svg path
          fill $c-white

      & .owl-next.disabled,
      & .owl-prev.disabled
        background-color: transparent !important

        & svg path
          fill $c-strongBlue

      & .owl-prev
        margin-right 10px

    &-item
      height 187px
      position relative
      width 295px

      &:hover
        & .layer
          opacity 1
          transition 0.3s

      & .item-title
        align-items center
        background-color $c-strongBlue
        color $c-white
        display flex
        font-family 'DINNextW01Regular'
        font-size 19px
        font-weight normal
        height 44px
        letter-spacing 0.6px
        opacity 0.7
        padding-left 23px
        width 100%

      & .item-img
        &.corporateLaw,
        &.laborLaw,
        &.intellProperty,
        &.immigration,
        &.commLitigation,
        &.adminLitigation,
        &.civilLaw,
        &.adminLaw
          background-position center
          background-repeat no-repeat
          background-size cover
          height 143px
          width 295px

        &.corporateLaw
          background-image url("../img/home/corporate-law.jpg")

        &.laborLaw
          background-image url("../img/home/labor-law.jpg")

        &.intellProperty
          background-image url("../img/home/intellectual-property.jpg")

        &.immigration
          background-image url("../img/home/immigration.jpg")

        &.commLitigation
          background-image url("../img/home/commercial-litigation.jpg")

        &.adminLitigation
          background-image url("../img/home/administrative-litigation.jpg")

        &.civilLaw
          background-image url("../img/home/civil-law.jpg")

        &.adminLaw
          background-image url("../img/home/administrative-law.jpg")

      & .layer
        align-items center
        background-color $c-strongBlue
        bottom 0
        display flex
        flex-direction column
        justify-content center
        left 0
        opacity 0
        padding 0 42px
        position absolute
        right 0
        top 0
        transition 0.3s

        &-title,
        &-desc
          color $c-white
          letter-spacing 0.6px

        &-title
          font-family 'PlayfairDisplayRegular'
          font-size 19px
          font-weight normal
          margin-bottom 20px

        &-desc
          font-family 'DINNextW01Regular'
          font-size 14px

  &-members
    align-items flex-end
    background-image url("../img/backgrounds/home-members.jpg")
    background-position left -176px center
    background-repeat no-repeat
    background-size cover
    display flex
    flex-direction column
    height 440px
    justify-content center

    &-tag
      color $c-strongBlue
      font-family 'DINNextW01Regular'
      font-size 12px
      font-weight normal
      letter-spacing 1.03px
      text-transform uppercase

    &-title
      color $c-strongBlue
      font-family 'PlayfairDisplayRegular'
      font-weight normal
      font-size 37px
      letter-spacing -0.33px
      max-width 295px
      position relative

      &:before
        background-color $c-strongBlue
        content ""
        display block
        height 1px
        margin 18px 0
        width 343px

      &:after
        background-color #6a7fc3
        content ""
        height 1px
        left 0
        position absolute
        top 0
        width 93px

    &-titleSpan
      font-family 'PlayfairDisplayItalic'

    & .first
      margin 0 30% 50px 0

    & .second
      margin-right 7%

      & h3.home-members-tag
        position relative

        &:before
          background-color $c-strongBlue
          content ""
          display block
          height 1px
          left -50px
          position absolute
          top 6px
          width 39px

      & span.home-members-tag
        display block
        margin 18px 0 10px 0
        text-transform capitalize

  &-contact
    background-image url("../img/backgrounds/home-contact.png")
    background-position right bottom 36%
    background-repeat no-repeat
    background-size cover
    display flex
    flex-direction column
    height 234px
    justify-content center
    padding-left 8%

    &-title
      color $c-strongBlue
      font-family 'PlayfairDisplay'
      font-size 33px
      font-weight normal
      line-height 26px
      padding-bottom 11px
      position relative

      &:before,
      &:after
        bottom 0
        content ""
        height 1px
        position absolute

      &:before
        background-color #d3d3d3
        width 313px

      &:after
        background-color $c-strongBlue
        left 0
        width 133px

    &-info
      margin-left 400px

    &-desc
      color $c-strongBlue
      font-family 'DINNextW01Regular'
      font-size 22px
      font-weight normal
      line-height 26px
      margin-bottom 22px
      max-width 315px

@media screen and (max-width: 1280px)
  .home
    &-practice
      &-carousel
        width 603px

@media screen and (max-width: 1040px)
  .home
  &-members
    & .first
      margin-right 13%

@media screen and (max-width: 860px)
  .home
    &-cover
      height 400px
      padding-bottom 37px

      &-scroll
        display none

    &-practice
      &-title
        font-size 26px

        &:before
          width 260px

      &-carousel
        margin-bottom 200px
        width 296px

        & .owl-dots
          bottom -70px
          margin 0 auto
          right 0
          width 232px

        & .owl-dot
          margin 0 9px

        & .owl-nav
          bottom -160px
          left 0
          margin 0 auto
          width 114px

    &-members
      align-items center
      background-image url("../img/backgrounds/home-members-mobile.jpg")
      background-position center
      height 600px
      justify-content flex-start
      padding-top 46px

      &-title
        font-size 30px
        max-width 240px

        &:before
          background-color transparent
          width auto

      & .first
        margin-left -210px
        margin-right initial

      & .second
        margin-left auto
        margin-right auto

    &-contact
      height auto
      margin 40px 0

      &-title
        font-size 26px

        &:before
          width 210px

      &-info
        margin 40px auto 0 auto

  .bigTitle,
  .whiteSubtitle
    text-align center

  .bigTitle
    font-size 26px !important
    line-height 34px
    max-width 205px

  .whiteSubtitle
    font-size 13px !important
    line-height 20px
    max-width 210px

@media screen and (max-width 560px)
  .home
    &-members
      & .first
        margin-left -50px

      & .second
        max-width 200px
