.members
  margin-top 94px
  padding 69px 0 59px 0
  position relative

  &:before,
  &:after
    content ""
    position absolute
    width 100%
    z-index -1

  &:before
    background-color #dde5f8
    height 40%
    top 0

  &:after
    background-image url("../img/backgrounds/members-bg.jpg")
    background-size cover
    bottom 0
    height 60%

  .title
    color $c-strongBlue
    font-family 'PlayfairDisplayRegular'
    font-size 33px
    font-weight normal
    margin-bottom 52px
    padding-bottom 12px
    position relative
    text-align center
    width 100%

    &:before
      background-color #ffffff
      bottom 0
      content ""
      height 1px
      left 0
      margin 0 auto
      position absolute
      right 0
      width 385px

    &:after
      background-color $c-strongBlue
      bottom 0
      content ""
      height 1px
      left 0
      margin 0 auto
      position absolute
      right 0
      width 146px
  
  .tree
    margin-top 83px

    .subtitle
      color $c-strongBlue
      font-family 'DINNextW01Regular'
      font-size 29px
      font-weight normal
      letter-spacing 0.5px
      text-align center
      text-transform uppercase

    .wrapper
      display flex
      flex-wrap wrap
      margin 20px auto 0 auto
      max-width 1110px

    .card
      &-container
        height 338px
        margin 15px
        width 192px

        &.noPointerEvents
          pointer-events none

        .category
          align-items center
          background-color $c-strongBlue
          color $c-white
          display flex
          font-family 'DINNextW01Bold'
          font-size 16px
          font-weight normal
          height 28px
          height auto
          justify-content center
          letter-spacing 3.3px
          // padding 2px 14px 0 14px
          padding 7px 14px 3px 14px
          text-align center
          text-indent 3.3px
          text-transform uppercase
          -webkit-font-smoothing antialiased

        .name
          align-items center
          background-color $c-cream
          color $c-strongBlue
          display flex
          font-family 'DINNextW01Regular'
          font-size 17px
          font-weight normal
          letter-spacing 0.3px
          line-height 27px
          height 73px
          padding 0 14px

        .photo
          background-color rgba(255, 255, 255, 0.6)
          height 238px
          min-height 238px
          object-fit cover
          width 192px

@media screen and (max-width 1125px)
  .members
    .tree
      .wrapper
        max-width 666px

@media screen and (max-width 681px)
  .members
    .tree
      .wrapper
        max-width 444px

@media screen and (max-width 444px)
  .members
    .title
      &:before
        width 260px

    .tree
      .wrapper
        max-width 320px
        padding 0 5px

      .subtitle
        margin 0 auto
        width 300px

      .card
        &-container
          height 235px
          margin 5px
          width 145px

          .category
            font-size 12px

          .name
            font-size 12px
            height 45px
            line-height 15px

          .photo
            height 162px
            min-height 162px
            object-fit cover
            width 145px