{% extends "partials/base.njk" %}

{% block title %}Corporativo{% endblock %}

{% set meta_description = "Nuestro campo de experiencia incluye la planificación y preparación de estrategias corporativas y asociativas." %}
{% set og_url = "" %}
{% set og_title = "Corporativo | Rivers Legal" %}
{% set og_description = "Nuestro campo de experiencia incluye la planificación y preparación de estrategias corporativas y asociativas." %}
{% set og_img = "/img/seo/seo-practice-areas-template.jpg" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "practiceareas" %}

{% block content %}
<section class="practiceTemplate">
  <section class="cover">
    <h1 class="cover-title">{{ es.practiceTemplate.cover.title }}</h1>
    <div class="cover-content">
      <div class="cover-info-col1">
        <h2 class="cover-subtitle">Rivers Legal, S.C.</h2>
        <p class="cover-info">{{ es.practiceTemplate.cover.descriptionOne }}</p>
      </div>
      <div class="cover-info-col2">
        <p class="cover-info">{{ es.practiceTemplate.cover.descriptionTwo }}</p>
      </div>
    </div>
  </section>

  <section class="fold2">
    <div class="fold2-background"></div>
    <div class="fold2-content">
      <h3 class="fold2-title">nuestro campo de experiencia</h3>
      <h4 class="fold2-subtitle">{{ es.practiceTemplate.fold2.subtitle }}</h4>
      <p class="fold2-description">{{ es.practiceTemplate.fold2.description }}</p>
    </div>
  </section>

  <section class="membersPractice">
    <h2 class="title">Miembros en práctica</h2>
    <div class="card-container">
      {% for member in es.practiceTemplate.practice.cards %}
        <div class="card">
          <h3 class="card-title">{{ member.title }}</h3>
          <p class="card-description">{{ member.description }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
</section>
{% endblock %}
