<!DOCTYPE html>
<html>
  <head>
    {% include 'seo/tracking/googleanalytics.njk' %}
    {% include 'seo/metatags.njk' %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="/css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="/css/main.css">
    <link runat="server" rel="shortcut icon" href="/img/favicon/rv-favicon.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="/img/favicon/rv-favicon.png" type="image/ico"/>
    <title>{% block title %}{% endblock %} | Rivers Legal</title>
    {% include 'seo/tracking/facebookpixel.njk' %}
  </head>
  <body>
    <div id="page">
      {% if section == 'en/index' or section == 'index' or section == 'en/careers' or section == 'en/contact' or section == 'en/members'  or section == 'en/practice-areas' %}
        {% include 'partials/navbar-en.njk' %}
      {% else %}
        {% include 'partials/navbar.njk' %}
      {% endif %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% if section == 'en/index' or section == 'index' or section == 'en/careers' or section == 'en/contact' or section == 'en/members'  or section == 'en/practice-areas' %}
        {% include 'partials/footer-en.njk' %}
      {% else %}
        {% include 'partials/footer.njk' %}
      {% endif %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="/js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="/js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
