<footer class="footer">
  <div class="footer-logo-container">
    <a href="index.html">
      <img src="{{es.footer.logo}}" alt="{{es.footer.logoAlt}}">
    </a>
  </div>
  <div>
    {% for section in es.footer.sections %}
    <div>
      <a href="{{section.link}}">
        <span>{{section.name}}</span>
      </a>
    </div>
    {% endfor %}
  </div>
</footer>
