<footer class="footer">
  <div class="footer-logo-container">
    <a href="index.html">
      <img class="footer-logo" src="{{en.footer.logo}}" alt="{{en.footer.logoAlt}}">
    </a>
  </div>
  <div class="footer-content">
    <div>
      <div class="footer-link-container">
        {% for section in en.footer.sections %}
        <a href="{{section.link}}">
          <span class="link-section">{{section.name}}</span>
        </a>
        {% endfor %}
      </div>
      <a class="footer-inLink" href="{{en.footer.inLink}}" target="_blank">
        <img class="footer-inIcon" src="{{en.footer.inIcon}}" alt="{{en.footer.inIconAlt}}">
      </a>
      <span class="footer-copyright">{{en.footer.copyright}}</span>
    </div>
    <div class="footer-contacts">
      <a class="phone" href="tel:+52 (444) 825 36 14">{{en.footer.phone}}</a>
      <a class="mail" href="mailto:contact@vrs.mx">{{en.footer.mail}}</a>
      <a class="address" href="https://goo.gl/maps/jE5tAF6M4m7d2UZk6" target="_blank">{{en.footer.address}}</a>
    </div>
  </div>
</footer>
