{% if section == 'es/index' %} /en/index.html 
{% elif section == 'es/quienes-somos' %} /en/about-us.html 
{% elif section == 'es/areas-de-practica' %} /en/practice-areas.html 

{% elif section == 'es/areas-de-practica/amparo-y-procedimientos-administrativos' %} /en/practice-areas/constitutional-amparo-and-administrative-proceedings.html 
{% elif section == 'es/areas-de-practica/corporativo' %} /en/practice-areas/corporate.html 
{% elif section == 'es/areas-de-practica/fusiones-y-adquisiciones' %} /en/practice-areas/mergers-and-acquisitions.html 
{% elif section == 'es/areas-de-practica/inmobiliario' %} /en/practice-areas/real-estate.html 
{% elif section == 'es/areas-de-practica/inversion-extranjera' %} /en/practice-areas/foreign-investment.html 
{% elif section == 'es/areas-de-practica/laboral' %} /en/practice-areas/labor-and-employment.html 
{% elif section == 'es/areas-de-practica/litigio-civil-y-mercantil' %} /en/practice-areas/civil-and-commercial-litigation.html 
{% elif section == 'es/areas-de-practica/migracion' %} /en/practice-areas/immigration.html 
{% elif section == 'es/areas-de-practica/propiedad-industrial-e-intelectual' %} /en/practice-areas/intellectual-property.html 

{% elif section == 'es/miembros' %} /en/members.html 

{% elif section == 'es/miembros/francisco-javier-padilla-mitre' %} /en/members/francisco-javier-padilla-mitre.html 
{% elif section == 'es/miembros/jaime-eduardo-martinez-terrazas' %} /en/members/jaime-eduardo-martinez-terrazas.html 
{% elif section == 'es/miembros/Kristopher-ruben-ortiz-hernandez' %} /en/members/Kristopher-ruben-ortiz-hernandez.html 
{% elif section == 'es/miembros/manuel-victorio-ortiz-chevaile' %} /en/members/manuel-victorio-ortiz-chevaile.html 
{% elif section == 'es/miembros/mauricio-cristopher-arevalo-alcalde' %} /en/members/mauricio-cristopher-arevalo-alcalde.html 
{% elif section == 'es/miembros/montserrat-del-rio-castaneda' %} /en/members/montserrat-del-rio-castaneda.html 
{% elif section == 'es/miembros/valeria-larrondo-tafoya' %} /en/members/valeria-larrondo-tafoya.html 
{% elif section == 'es/miembros/vivian-ramirez-valladolid' %} /en/members/vivian-ramirez-valladolid.html 
{% elif section == 'es/miembros/salvador-rodriguez-sanchez' %} /en/members/salvador-rodriguez-sanchez.html 

{% elif section == 'es/contactanos' %} /en/contact.html 
{% elif section == 'es/trabaja-con-nosotros' %} /en/careers.html {% endif %}