{% if section == 'en/index' or section == 'index' %} /es/index.html 
{% elif section == 'en/about-us' %} /es/quienes-somos.html 
{% elif section == 'en/practice-areas' %} /es/areas-de-practica.html 

{% elif section == 'en/practice-areas/constitutional-amparo-and-administrative-proceedings' %} /es/areas-de-practica/amparo-y-procedimientos-administrativos.html 
{% elif section == 'en/practice-areas/corporate' %} /es/areas-de-practica/corporativo.html 
{% elif section == 'en/practice-areas/mergers-and-acquisitions' %} /es/areas-de-practica/fusiones-y-adquisiciones.html 
{% elif section == 'en/practice-areas/real-estate' %} /es/areas-de-practica/inmobiliario.html 
{% elif section == 'en/practice-areas/foreign-investment' %} /es/areas-de-practica/inversion-extranjera.html 
{% elif section == 'en/practice-areas/labor-and-employment' %} /es/areas-de-practica/laboral.html 
{% elif section == 'en/practice-areas/civil-and-commercial-litigation' %} /es/areas-de-practica/litigio-civil-y-mercantil.html 
{% elif section == 'en/practice-areas/immigration' %} /es/areas-de-practica/migracion.html 
{% elif section == 'en/practice-areas/intellectual-property' %} /es/areas-de-practica/propiedad-industrial-e-intelectual.html 

{% elif section == 'en/members' %} /es/miembros.html 

{% elif section == 'en/members/francisco-javier-padilla-mitre' %} /es/miembros/francisco-javier-padilla-mitre.html 
{% elif section == 'en/members/jaime-eduardo-martinez-terrazas' %} /es/miembros/jaime-eduardo-martinez-terrazas.html 
{% elif section == 'en/members/Kristopher-ruben-ortiz-hernandez' %} /es/miembros/Kristopher-ruben-ortiz-hernandez.html 
{% elif section == 'en/members/manuel-victorio-ortiz-chevaile' %} /es/miembros/manuel-victorio-ortiz-chevaile.html 
{% elif section == 'en/members/mauricio-cristopher-arevalo-alcalde' %} /es/miembros/mauricio-cristopher-arevalo-alcalde.html 
{% elif section == 'en/members/montserrat-del-rio-castaneda' %} /es/miembros/montserrat-del-rio-castaneda.html 
{% elif section == 'en/members/valeria-larrondo-tafoya' %} /es/miembros/valeria-larrondo-tafoya.html 
{% elif section == 'en/members/vivian-ramirez-valladolid' %} /es/miembros/vivian-ramirez-valladolid.html 
{% elif section == 'en/members/salvador-rodriguez-sanchez' %} /es/miembros/salvador-rodriguez-sanchez.html
{% elif section == 'en/members/kristopher-ortiz' %} /es/miembros/kristopher-ortiz.html
{% elif section == 'en/members/pascual-leo-zenteno' %} /es/miembros/pascual-leo-zenteno.html
{% elif section == 'en/contact' %} /es/contactanos.html
{% elif section == 'en/careers' %} /es/trabaja-con-nosotros.html {% endif %}