{% block navLangES %}
  {% if section == 'es/index' 
    or section  == 'es/quienes-somos' 
    or section == 'es/areas-de-practica' 
    or section == 'es/miembros' 
    or section == 'es/contactanos' 
    or section == 'es/trabaja-con-nosotros' 
    or section == 'es/areas-de-practica/litigio-civil-y-mercantil' 
    or section == 'es/areas-de-practica/amparo-y-procedimientos-administrativos'
    or section == 'es/areas-de-practica/corporativo'
    or section == 'es/areas-de-practica/inversion-extranjera'
    or section == 'es/areas-de-practica/migracion'
    or section == 'es/areas-de-practica/propiedad-industrial-e-intelectual'
    or section == 'es/areas-de-practica/laboral'
    or section == 'es/areas-de-practica/fusiones-y-adquisiciones'
    or section == 'es/areas-de-practica/inmobiliario'
    or section == 'es/miembros/francisco-javier-padilla-mitre'
    or section == 'es/miembros/jaime-eduardo-martinez-terrazas'
    or section == 'es/miembros/Kristopher-ruben-ortiz-hernandez'
    or section == 'es/miembros/manuel-victorio-ortiz-chevaile'
    or section == 'es/miembros/mauricio-cristopher-arevalo-alcalde'
    or section == 'es/miembros/montserrat-del-rio-castaneda'
    or section == 'es/miembros/valeria-larrondo-tafoya'
    or section == 'es/miembros/vivian-ramirez-valladolid'
    or section == 'es/miembros/kristopher-ortiz'
    or section == 'es/miembros/salvador-rodriguez-sanchez' %}nav-lang-active
  {% endif %}
{% endblock %}