{% block navOtherViewsES %}
  {% if section  == 'es/quienes-somos' 
    or section == 'es/practice-areas' 
    or section == 'es/miembros' 
    or section == 'es/contactanos' 
    or section == 'es/trabaja-con-nosotros' 
    or section == 'es/practice-areas/civil-and-commercial-litigation' 
    or section == 'es/practice-areas/constitutional-amparo-and-administrative-proceedings'
    or section == 'es/practice-areas/corporate'
    or section == 'es/practice-areas/foreign-investment'
    or section == 'es/practice-areas/immigration'
    or section == 'es/practice-areas/intellectual-property'
    or section == 'es/practice-areas/labor-and-employment'
    or section == 'es/practice-areas/mergers-and-acquisitions'
    or section == 'es/practice-areas/real-estate'
    or section == 'es/members/francisco-javier-padilla-mitre'
    or section == 'es/members/jaime-eduardo-martinez-terrazas'
    or section == 'es/members/Kristopher-ruben-ortiz-hernandez'
    or section == 'es/members/manuel-victorio-ortiz-chevaile'
    or section == 'es/members/mauricio-cristopher-arevalo-alcalde'
    or section == 'es/members/montserrat-del-rio-castaneda'
    or section == 'es/members/valeria-larrondo-tafoya'
    or section == 'es/members/vivian-ramirez-valladolid' %}otherViews
  {% endif %}
{% endblock %}