{% block navOtherViewsEN %}
  {% if section  == 'en/about-us' 
    or section == 'en/practice-areas' 
    or section == 'en/members' 
    or section == 'en/contact' 
    or section == 'en/careers' 
    or section == 'en/practice-areas/civil-and-commercial-litigation' 
    or section == 'en/practice-areas/constitutional-amparo-and-administrative-proceedings'
    or section == 'en/practice-areas/corporate'
    or section == 'en/practice-areas/foreign-investment'
    or section == 'en/practice-areas/immigration'
    or section == 'en/practice-areas/intellectual-property'
    or section == 'en/practice-areas/labor-and-employment'
    or section == 'en/practice-areas/mergers-and-acquisitions'
    or section == 'en/practice-areas/real-estate'
    or section == 'en/jaime-eduardo-martinez-terrazas' %}otherViews
  {% endif %}
{% endblock %}