{% extends "partials/base.njk" %}

{% block title %}Business Aligned Legal Advice{% endblock %}

{% set meta_description = "Understanding Our Clients Business to Meet Their Legal Needs" %}
{% set og_url = "" %}
{% set og_title = "Business Aligned Legal Advice | Rivers Legal" %}
{% set og_description = "Understanding Our Clients Business to Meet Their Legal Needs" %}
{% set og_img = "/img/seo/seo-homepage.jpg" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "homepage" %}

{% block content %}
<section class="home">
  <section class="home-cover">
    <h1 class="bigTitle">{{en.home.cover.title}} <span class="bigTitleSpan">{{en.home.cover.titleSpan}}</span></h1>
    <h2 class="whiteSubtitle">{{en.home.cover.subtitle}}</h2>
    <a class="btn transparent" href="{{en.home.cover.link}}">{{en.home.cover.linkText}}</a>
    <img class="home-cover-scroll" src="{{en.home.cover.scroll}}" alt="{{en.home.cover.scrollAlt}}">
  </section>

  <section class="home-practice">
    <h2 class="home-practice-title">Practice Areas</h2>
    <div class="home-practice-carousel owl-carousel">
      {% for item in en.home.practice.carousel %}
      <a href="{{item.url}}">
        <div class="home-practice-item">
          <span class="item-title">{{item.title}}</span>
          <div class="item-img {{item.imgClass}}"></div>
          <div class="layer">
            <h3 class="layer-title">{{item.layerTitle}}</h3>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <a class="btn blue" href="/en/practice-areas.html">view all</a>
  </section>

  <section class="home-members">
    <div class="first">
      <span class="home-members-tag">rivers legal</span>
      <h2 class="home-members-title">Get to know all of <span class="home-members-titleSpan">our members</span></h2>
    </div>
    <div class="second">
      <h3 class="home-members-tag">comprehensive legal solutions</h3>
      <span class="home-members-tag">Services Clearly Oriented Towards Business Development.</span>
      <a class="btn blue" href="/en/members.html">view members</a>
    </div>
  </section>

  <section class="home-contact">
    <h2 class="home-contact-title">Contact Us</h2>
    <div class="home-contact-info">
      <p class="home-contact-desc">For advice, or for an initial quote please get in touch.</p>
      <a class="btn blue" href="/en/contact.html">contact</a>
    </div>
  </section>
</section>
{% endblock %}
