{% extends "partials/base.njk" %}

{% block title %}Quiénes somos{% endblock %}

{% set meta_description = "Somos una firma con amplia experiencia en las distintas áreas que integran el derecho de los negocio." %}
{% set og_url = "" %}
{% set og_title = "Quiénes somos | Rivers Legal" %}
{% set og_description = "Somos una firma con amplia experiencia en las distintas áreas que integran el derecho de los negocio." %}
{% set og_img = "/img/seo/seo-about.jpg" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "aboutus" %}

{% block content %}
<section class="about">
  <section class="about-cover">
    <h1 class="about-cover-title">Quiénes somos</h1>
    <div class="about-cover-info">
      <h2 class="about-cover-subtitle">Somos una firma con <span>amplia experiencia</span></h2>
      <p class="about-cover-description">En las distintas áreas que integran el derecho de los negocios, y nuestros integrantes, además de su profundo conocimiento legal que engloba al mundo empresarial, cuentan también con una visión renovada y práctica para abordar los asuntos legales con un compromiso absoluto hacia nuestros clientes, lo que nos distingue como una opción innovadora y a la vez confiable para corporaciones modernas.</p>
      <a class="btn blue" href="/es/contactanos.html">contacto</a>
    </div>
  </section>

  <section class="about-mvv">
    <div class="about-mvv-content">
      <div class="about-mvv-card about-mvv-card-spanish">
        <h3 class="card-title">Misión</h3>
        <p class="card-description">Entender el negocio de nuestros clientes para satisfacer sus necesidades legales en forma proactiva y con un enfoque preventivo.</p>
      </div>
  
      <div class="about-mvv-card about-mvv-card-spanish">
        <h3 class="card-title">Visión</h3>
        <p class="card-description">Ser una institución reconocida por su integridad, dedicación y desempeño excediendo las expectativas de nuestros clientes, y con un equipo motivado, integrado y con alto grado de experiencia y compromiso.</p>
      </div>
  
      <div class="about-mvv-card about-mvv-card-spanish">
        <h3 class="card-title">Valores</h3>
        <ul class="card-ul">
          <li class="card-li">Confiabilidad</li>
          <li class="card-li">Versatilidad</li>
          <li class="card-li">Innovación</li>
          <li class="card-li">Perdurabilidad</li>
        </ul>
      </div>
    </div>
  </section>
</section>
{% endblock %}
