*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')
  min-height 100%
  position relative

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  font-size inherit
  margin 0 0 359px 0

  &.noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

@media screen and (max-width 765px)
  body
    margin-bottom 500px

a
  outline 0

  &, &:focus, &:hover, &:active
    text-decoration none

#page
  margin 0
  overflow hidden
  padding 0

h1, h2, h3, h4, h5, h6, p
  margin 0

// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background white

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.success, &.error
    margin-top 1em

input, textarea, button, select
  font-family inherit

  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

.btn
  align-items center
  color $c-white
  cursor pointer
  display flex
  font-family 'DINNextW01Regular'
  font-size $fs16
  height 52px
  justify-content center
  letter-spacing 0.18px
  text-transform uppercase
  transition all 0.3s
  width 182px
  -webkit-font-smoothing: antialiased;

  &.transparent
    border solid 1px $c-white

    &:hover
      background-color $c-strongBlue
      border solid 1px $c-strongBlue

  &.blue
    background-color $c-strongBlue
    border solid 1px $c-strongBlue

    &:hover
      background-color $c-grayBlue
      border solid 1px $c-grayBlue

@import 'partials/navbar'

@import 'partials/footer'
