@font-face
  font-family 'DINNextW01Regular'
  src url('../fonts/DINNextW01-Regular.woff2') format('woff2'),
    url('../fonts/DINNextW01-Regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'DINNextW01Light'
  src url('../fonts/DINNextW01-Light.woff2') format('woff2'),
    url('../fonts/DINNextW01-Light.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'DINNextW01Bold'
  src url('../fonts/DINNextW01-Bold.woff2') format('woff2'),
    url('../fonts/DINNextW01-Bold.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'PlayfairDisplayItalic'
  src url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'PlayfairDisplayBlack'
  src url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'PlayfairDisplayRegular'
  src url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'PlayfairDisplayBoldItalic'
  src url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'PlayfairDisplayBlackItalic'
  src url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'PlayfairDisplayBold'
  src url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff')
  font-weight normal
  font-style normal

.bigTitle
  color $c-white
  font-family 'PlayfairDisplayRegular'
  font-size 56px
  font-weight normal
  letter-spacing -0.25px

.bigTitleSpan
  font-family 'PlayfairDisplayItalic'

.whiteSubtitle
  color $c-white
  font-family 'DINNextW01Regular'
  font-weight normal
  font-size 22px

.link-section
  color $c-white
  font-family 'DINNextW01Regular'
  font-weight normal
  font-size 18px
  letter-spacing -0.23px
