// COLORS
$errorColor = #ff3636
$successColor = #149a14

$c-white = #ffffff
$c-strongBlue = #0b1b4e
$c-grayBlue = #b2bfef


// Base font-size
$baseFontSize = 16

$fs16 = 16px

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black